<link rel="stylesheet" href="/css/common.css">

<footer class="footer bg-white text-center text-lg-start ">
    <div class="container p-4">
        <div class="row align-items-center">
            <!-- Social Media -->
            <div class="col-12 mb-4 text-center">
                <a href="#" class="me-3 text-dark" title="Facebook">
                    <i class="fa-brands fa-facebook-square fa-2x"></i>
                </a>
                <a href="#" class="me-3 text-dark" title="Instagram">
                    <i class="fa-brands fa-instagram-square fa-2x"></i>
                </a>
                <a href="#" class="me-3 text-dark" title="LinkedIn">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </a>
            </div>

            <!-- Brand Info -->
            <div class="col-12 mb-4 text-center">
                <p class="mb-0">&copy; 2025 StayEase Private Limited</p>
            </div>

            <!-- Links -->
            <div class="col-12 text-center">
                <a href="#privacy" class="text-dark me-3" title="Privacy Policy">Privacy</a>
                <a href="#terms" class="text-dark" title="Terms of Service">Terms</a>
            </div>
        </div>
    </div>
</footer>
