<link rel="stylesheet" href="/css/common.css">

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/listings">
        StayEasy
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/listings">Explore</a>
          </li>
        </ul>
  
        <a href="/listings/new" class="btn create-btn">Become a host</a>
        
        <div class="d-flex align-items-center">
          <% if(!currUser){ %>
            <a href="/login" class="btn btn-primary rounded-pill">Login</a>
            <a href="/register" class="btn btn-primary rounded-pill">Sign Up</a>  
          <%}%>
          <% if(currUser){%>
            <a href="/logout" class="btn btn-outline-primary rounded-pill me-2">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
          <% }%>
        </div>
      </div>
    </div>
  </nav>
  