<nav>
    <div class="logo">
        <img src="/api/placeholder/40/40" alt="Plant Logo">
    </div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Plant Finder</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">My plants</a></li>
    </ul>
    <div class="nav-icons">
        <a href="#"><i class="fas fa-user"></i></a>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
    </div>
</nav>
