<link rel="stylesheet" href="/css/common.css">

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/listings">
        StayEasy
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/listings">Explore</a>
          </li>
        </ul>
  
        <form class="d-flex mx-auto" action="/listings" method="GET">
          <input class="form-control me-2" type="search" name="search" placeholder="Search listings..." />
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>        
      
        <a href="/listings/new" class="btn create-btn me-3">Become a host</a>

        <div class="d-flex align-items-center gap-2">
          <% if (!currUser) { %>
            <a href="/login" class="btn btn-primary rounded-pill me-2">Login</a>
            <a href="/register" class="btn btn-primary rounded-pill">Sign Up</a>  
          <% } %>
          <% if (currUser) { %>
            <a href="/logout" class="btn btn-outline-primary rounded-pill">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  