<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <!-- Icon with Bootstrap Icons CSS -->
        <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" aria-label="Danger:"></i>
        <!-- Error Message -->
        <p class="alert-heading mb-0"><%= message %></p>
    </div>
</div>
