<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <!-- SVG Icon -->
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
            <use xlink:href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.svg#exclamation-triangle-fill"/>
        </svg>
        <!-- Error Message -->
        <p class="alert-heading mb-0"><%= message %></p>
    </div>
</div>
